<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Conversor youtube para mp3</title>
   
</head>

<body>

    <div class="loading-class" id="loading-id">
        <span class="wave">C</span>
        <span class="wave">a</span>
        <span class="wave">r</span>
        <span class="wave">r</span>
        <span class="wave">e</span>
        <span class="wave">g</span>
        <span class="wave">a</span>
        <span class="wave">n</span>
        <span class="wave">d</span>
        <span class="wave">o</span>
        <span class="wave">.</span>
        <span class="wave">.</span>
        <span class="wave">.</span>
    </div>
        
    <div class="conteiner">
        <div class="headers">
            <div class="titles">
                <h1 class="title1">Converta suas musicas do yotube para mp3!</h1>
            </div>
            <div class="paragraphs">
                <p class="paragraph1">Baixar varias musicas do youtube em mp3 rapido e facil </p>
            </div>    
        <!-- headers -->
        </div>
            
            <div class="actions">
                <div class="creat-url-div">
                    <div id="div-input-url-id" class="div-input-url">
                        <input id="input-url-id" class="input-url-class" type="hidden" placeholder="Insira url aqui">
                    </div>
                    <div class="btn-creat-url-div">
                        <button id="btn-inserir-url-id" class="btn-inserir-url-class" type="submit">Inserir url</button>
                    </div>
                        <!-- btn-creat-url -->
                </div>
                <div class="div-btn-convert">
                    <button id="btn-converter-id" class="btn-convert-class" type="submit">Converter</button>
                <!-- btn-convert -->
                </div>
                <!-- actions -->
            </div>
    <!-- conteiner -->
    </div>
</body>

<!-- java script -->
<script src="static/script.js"></script>

</html>